{% extends "base.html" %}

{% block rightbar %}
    <a href="{{ url }}">{{ url_linktext }}</a>
    |
    <a href="help"> help </a>
{% endblock %}

{% block content %}
<form action="/submit" method="post">
<div id="Header">
      <div id="leftbar">
          Synatax highlighting
          <select name="lexer" id="lexer">
            <option selected="selected" >General</option>
            <option>None</option>
            <option>ActionScript</option>
            <option>AppleScript</option>
            <option>Assembly (various)</option>
            <option>Boo</option>
            <option>Befunge</option>
        
            <option>BrainFuck</option>
            <option>C</option>
            <option>C++</option>
            <option>C#</option>
            <option>Clojure</option>
            <option>Common Lisp</option>
            <option>D</option>
        
            <option>Delphi</option>
            <option>Dylan</option>
            <option>Erlang</option>
            <option>Fortran</option>
            <option>Haskell</option>
        
            <option>Io</option>
            <option>Java</option>
            <option>JavaScript</option>
            <option>Logtalk</option>
            <option>Lua</option>
            <option>Matlab</option>
        
            <option>MiniD</option>
            <option>MooCode</option>
            <option>MuPad</option>
            <option>OCaml</option>
            <option>PHP</option>
            <option>Perl</option>
        
            <option>Redcode</option>
            <option>S, S-Plus, R</option>
            <option>Scala</option>
        
            <option>Scheme</option>
            <option>Smalltalk</option>
            <option>Tcl</option>
            <option>Visual Basic.NET</option>
            <option disabled="disabled">--Template languages--</option>
            <option>Cheetah templates</option>
            <option>templates</option>
            <option>ERB (Ruby templating)</option>
            <option>Genshi</option>
        
            <option>Myghty</option>
            <option>Mako</option>
            <option>templates (PHP templating)</option>
            <option>JSP (Java Server Pages)</option>
        
            <option disabled="disabled">--Other markup--</option>
            <option>Apache config files</option>
            <option>Bash shell scripts</option>
            <option>BBCode</option>
        
            <option>CSS</option>
            <option>Debian control files</option>
            <option>Diff files</option>
            <option>Gettext catalogs</option>
            <option>Gnuplot script</option>
            <option>Groff markup</option>
        
            <option>HTML</option>
            <option>INI-style config files</option>
            <option>IRC logs (irssi style)</option>
            <option>Lighttpd config files</option>
            <option>Makefiles</option>
            <option>MoinMoin/Trac Wiki markup</option>
        
            <option>Nginx config files</option>
            <option>POV-Ray scenes</option>
            <option>Redcode</option>
            <option>ReST</option>
            <option>SQL, also MySQL, SQLite</option>
            <option>Squid configuration</option>
        
            <option>TeX</option>
            <option>tcsh</option>
            <option>Vim Script</option>
            <option>Windows batch files</option>
            <option>XML</option>
            <option>XSLT</option>
        
            <option>YAML</option> 
          </select>
          

      </div>
    </div>
    <br>
    <br>
        <textarea id="code" class="codeedit" name="content" rows="20"></textarea>
	<div id="expiryradios">
        <label>How long should your paste be retained?</label>
	  <br/>
	  <input id="expiry_day" type="radio" value="d" name="expiry"/>
	  <label id="expiry_day_label" class="" for="expiry_day">a day</label>
	  <input id="expiry_month" type="radio" checked="checked" value="m" name="expiry"/>
	  <label id="expiry_month_label" class="" for="expiry_month">a month</label>
	  <input id="expiry_forever" type="radio" value="f" name="expiry"/>
	  <label id="expiry_forever_label" class="current" for="expiry_forever">forever</label>
	</div>
	<div id="expiryinfo"></div>
        <div><input type="submit" value="Paste"></div>	
      </form>
{% endblock %}
