{% extends "base.html" %}

{% block custom_head %}
  <script type="text/javascript">
      function setSelected(elemID) {
        var elem =  document.getElementById(elemID);
        elem.setAttribute('selected', 'selected');
      }
  </script>
{% endblock %}

{% block rightbar %}
    <a href="{{ url }}">{{ url_linktext }}</a>
    |
    <a href="help"> help </a>
{% endblock %}

{% block content %}
<form action="/update/{{paste.paste_key}}" method="post">
    <div id="Header">
      <div id="leftbar">
        
          <button type="button" class="btn" onclick="window.location = '/'">
            <span><span>new post</span></span>
          </button>
          <button type="button" class="btn" onclick="window.location = 'download/{{paste.paste_key}}?v=c'">
            <span><span>download current </span></span>
          </button>
          <button type="button" class="btn" onclick="window.location = 'download/{{paste.paste_key}}'?v=o">
            <span><span>download original</span></span>
          </button>
          <button type="button" class="btn" onclick="window.location = 'revision/{{paste.paste_key}}'">
            <span><span>Other Revisions</span></span>
          </button>
          <button type="button" class="btn" onclick="window.location = 'diff/{{paste.paste_key}}'">
            <span><span>Diff</span></span>
          </button>
          Syntax highlighting
          <select name="lexer">
            <option id="general">General</option>
            <option id="none">None</option>
            <option id="actionscript">ActionScript</option>
            <option id="applescript">AppleScript</option>
            <option id="assembly">Assembly</option>
            <option id="bash">Bash</option>
            <option id="boo">Boo</option>
            <option id="befunge">Befunge</option>        
            <option id="brainfuck">BrainFuck</option>
            <option id="c">C</option>
            <option id="c++">C++</option>
            <option id="c#">C#</option>
            <option id="clojure">Clojure</option>
            <option id="lisp">Lisp</option>
            <option id="d">D</option>        
            <option id="delphi">Delphi</option>
            <option id="dylan">Dylan</option>
            <option id="erlang">Erlang</option>
            <option id="fortran">Fortran</option>
            <option id="haskell">Haskell</option>        
            <option id="io">Io</option>
            <option id="java">Java</option>
            <option id="javascript">JavaScript</option>
            <option id="logtalk">Logtalk</option>
            <option id="lua">Lua</option>
            <option id="matlab">Matlab</option>        
            <option id="minid">MiniD</option>
            <option id="moocode">MooCode</option>
            <option id="mupad">MuPad</option>
            <option id="ocaml">OCaml</option>
            <option id="php">PHP</option>
            <option id="perl">Perl</option>        
            <option id="s">S</option>
            <option id="s-plus">S-Plus</option>
            <option id="r">R</option>
            <option id="scala">Scala</option>
            <option id="scheme">Scheme</option>
            <option id="smalltalk">Smalltalk</option>
            <option id="tcl">Tcl</option>
            <option id="vb">VB</option>
            <option disabled="disabled">--Template languages--</option>
            <option id="templates">templates</option>
            <option id="erb">ERB</option>
            <option id="genshi">Genshi</option>        
            <option id="nyghty">Myghty</option>
            <option id="mako">Mako</option>
            <option id="jsp">JSP</option>        
            <option disabled="disabled">--Other markup--</option>
            <option id="apache">Apache</option>        
            <option id="css">CSS</option>
            <option id="diff">Diff</option>
            <option id="gnuplot">Gnuplot</option>
            <option id="groff">Groff</option>        
            <option id="html">HTML</option>
            <option id="irc">IRC</option>
            <option id="makefiles">Makefiles</option>        
            <option id="redcode">Redcode</option>
            <option id="rest">ReST</option>
            <option id="sql">SQL</option>        
            <option id="tex">TeX</option>
            <option id="tcsh">tcsh</option>
            <option id="xml">XML</option>
            <option id="xslt">XSLT</option>      
            <option id="yaml">YAML</option> 
            <script type="text/javascript">
              setSelected('{{lexer}}');
          </script>
          </select>
          
    
      </div>
    </div>
    <br>
    <br>
    <div class="who">
      {% if paste.previous %}
        {% if paste.author %}
          {{ paste.author.user.nickname }} wrote (Previously by 
          {% if original.author.user %}          
            {{ original.author.user.nickname }})
          {% else %}
            Anonymous)
          {% endif %}
        {% else %}
          Anonymous wrote (Previously by 
          {% if original.author %}          
            {{ orignal.author.user.nickname }})
          {% else %}
            Anonymous)
          {% endif %}
        {% endif %}
      {% else %}
          {% if paste.author %}
            {{ paste.author.user.nickname }} wrote
          {% else %}
            Anonymous wrote
          {% endif %}
      {% endif %}      
    </div>  
    <div class = "code">
      {{ code }}
    </div>
    <div class="code">
         <textarea id="code" class="codeedit" rows="12" cols="80" name="content">
{% for line in lines %}{{line|escape}}
{% endfor %}</textarea>
         <div><input type="submit" value="Update"></div>
      </form>
    </div>      
{% endblock %}