<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title> IsImplebIn </title>
    <script type="text/javascript" src="scripts/isimplebin.js"></script>      
    <meta name="verify-v1" content="3NyvNilDoAnn3a9CAu5Kb2wMFgb5ooMhiD+BO8BU2D0=" />
  </head>
  <body onload="initPastebin()">
    <div id="Header"><h1> IsImplebIn </h1> </div>
    <div class="Content">
      <form action="/submit" method="post">
        <textarea id="code" class="codeedit" name="content" rows="12"></textarea>
	<div id="expiryradios">
        <label>How long should your post be retained?</label>
	  <br/>
	  <input id="expiry_day" type="radio" value="d" name="expiry"/>
	  <label id="expiry_day_label" class="" for="expiry_day">a day</label>
	  <input id="expiry_month" type="radio" checked="checked" value="m" name="expiry"/>
	  <label id="expiry_month_label" class="" for="expiry_month">a month</label>
	  <input id="expiry_forever" type="radio" value="f" name="expiry"/>
	  <label id="expiry_forever_label" class="current" for="expiry_forever">forever</label>
	</div>
	<div id="expiryinfo"></div>
        <div><input type="submit" value="Paste"></div>
	
      </form>
      <script type="text/javascript"><!--
	google_ad_client = "pub-5703976649241693";
	/* Essentials Only */
	google_ad_slot = "4363471771";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
      </script>
      <script type="text/javascript"
	      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

    </div>
    <div id="navAlpha">
      <h2>Last 10 posts</h2>
      {{type}}
        <p>
       	  {% for post in posts %}
  	    {% if post.author %}
  	      <b> <a href= {{post.key.id}}> {{ post.author.nickname }} </a> </b> <br>
  	    {% else %}
  	       <b> <a href= {{post.key.id}}> Anonymous </a> </b> <br>
	    {% endif %}
	  {% endfor %}
        </p>
    </div>
    <div id="navBeta">
      <h2> <a href="upload"> Upload a file </a> </h2>
      <h2> <a href="download/Pasteit-0.1.tar.gz"> Command line isimplebin </a> </h2>
      <h2> <a href="{{ url }}">{{ url_linktext }}</a> </h2>
    </div> 
    <div id="navBeta2">
    </div> 
  </body>
</html>
