<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/code_styles.css" />
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript">
     
    </script>
    <title> IsImplebIn </title>
  </head>
  <body>
    <div id="Header"><h1> IsImplebIn </h1> </div>
    <div class="Content">
      {% if view.modified %}
	{% if view.modifier %} {{view.modifier.nickname}} {% else %} Anonymous {% endif %} wrote (modified from {{view.author}})<br>
      {% else %}
	{% if view.author %} {{view.author.nickname}}  {% else %} Anonymous {% endif %} wrote <br>
      {% endif %}
      {{line}}      
      <form action="/update/{{id}}" method="post">
        <textarea id="code" class="codeedit" rows="12" cols="80" name="content">
{% for line in lines %}{{line.content|escape}}{% endfor %}</textarea>
        <div><input type="submit" value="Update"></div>
      </form>
    </div>
    <div id="navAlpha">
      <h2>Last 10 posts</h2>
      <p>
       	{% for post in posts %}
  	   {% if post.author %}
  	       <b> <a href= {{post.key.id}}> {{ post.author.nickname }} </a> </b> <br>
  	   {% else %}
  	       <b> <a href = {{post.key.id}}> Anonymous </a> </b> <br>
	   {% endif %}
	{% endfor %}
    </div>
    <div id="navBeta">
      <h2> <a href="/"> Create New Post </a> </h2>
      <h2> <a href="{{ url }}">{{ url_linktext }}</a> </h2>
    </div> 
    <div id="navBeta2">
      <h2> News</a> </h2>
    </div> 
  </body>
</html>
